body{
    background-color: blueviolet;
    color: darkmagenta;
    margin: 0px;
    margin-bottom: 100px ;
}

header{ 
    border-bottom: solid 2px slateblue;
    padding: 20px;
    font-size: 32px;
    color:cornflowerblue;
}

,capa{ 
    color: azure;
    font-size: 20px;
}

#heroi{
    display: flex;
    padding-left: 200px;
}

,videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}